APP_NAME=FCM
# dev,testing,production
APP_ENV=dev

LOG_PATH=/www/wwwroot/anti_addiction/logs

FCM_APPID=
FCM_APPSECRET=
FCM_BIZID=

# redis设置
# tcp/tls
REDIS_SCHEME=tcp
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PWD=
REDIS_DB=2

TEST_FCM_APPID=
TEST_FCM_APPSECRET=
TEST_FCM_BIZID=
# 实名认证上报 测试码
FCM_IDCARD_CHECK_KEY=
# 实名认证查询 测试码
FCM_IDCARD_QUERY_KEY=
# 行为上报 测试码
FCM_BEHAVIOR_KEY=
